* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background-color: #3b3974;
    display: grid;
    place-items: center;
}

.calculadora {
    background-color: #1e1736;
    color: #F2F2F2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 356px;
    max-width: 100%;
    padding: 32px;
    border-radius: 20px;
    gap: 12px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
}

.pantalla {
    grid-column: 1 / 5;
    padding: 20px;
    font-size: 40px;
    text-align: right;
    border-radius: 15px;
    font-family: Rubik;
}

.btn {
    font-family: Rubik;
    background-color: #462975;
    color: white;
    border: 0;
    padding: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000%;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}

.btn:hover {
    background-color: #301a52;
    border-radius: 1000%;
    box-shadow: none;
    color: #a5a5a5;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.4);
}

#igual {
    background-color: #7A4ED9;
}

#igual:hover {
    background-color: #301a52;
}

#c{
    color: #905AED;
}

#c:hover{
    color: #5d4197;
}

#creador{
    background-color: #1e1736;
    color: #585858;
    border: 0;
    font-family: Silkscreen;
}

#creador:hover{
    color: #a5a5a5;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.4);
}